<h1>Rk2#Билет 18</h1>

<p>
  Дан массив E(10). Найти количество элементов массива, кратных одновременно 3 и 4.
  Поместить полученное число на место последнего чётного элемента массива.
</p>
<i>Боярских Никита, ИУ6-32</i>
<br><br>

<%= form_tag('/rk2/result', method: 'GET') do %>
  <%= label_tag 'Введите массив длины 10:' %>
  <%= text_field_tag :array %>
    <br>
    <%= submit_tag 'Найти количество кратных 3 и 4 элементов и поместить на место последнего чётного элемента массива' %>
<% end %>